<div class="@CssClass wrapper">
    
    <div class="profile-picture">
        <img src=".ignore/avatar.png" alt="Profile picture"/>
    </div>

    <div class="user-info">
        <div>Meno Priezvisko</div>
        <div class="detail">Username</div>
    </div>

</div>

@code {

    [Parameter]
    public string? CssClass { get; set; }

    // TODO: hypertext profile pic
    [Parameter]
    public bool Clickable { get; set; }
    
}