
div.my-spinner {
    width: max-content;
    height: max-content;
    margin: auto auto;
}

div.my-spinner div {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
} 
